@value vars: "../app/vars.css";
@value tablet, tablet-min from vars;

.btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  letter-spacing: 1px;
  outline: none;
  background-color: var(--color-block-gray-lighter);
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  color: var(--color-text-gray-dark);

  &:disabled {
    cursor: default;
    opacity: 0.7;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-block-gray-lighter);
    }
  }

  svg {
    margin-right: 6px;
  }

  & > div {
    width: 100%;
  }
}

.btn-primary {
  font-weight: 300;
  background-color: var(--color-block-color-primary);
  color: var(--color-text-white);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-block-gray-middle);
    }
  }
}

.btn-success {
  background-color: var(--color-green);
  color: var(--color-text-white);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-green-dark);
    }
  }
}

.btn-secondary {
  font-weight: 300;
  background-color: var(--color-border-grey);
  color: var(--color-text-white);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-border-grey);
    }
  }
}

.btn-orange {
  font-weight: 300;
  background-color: var(--color-orange);
  color: var(--color-text-white);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-orange-dark);
    }
  }
}

.btn-danger {
  font-weight: 300;
  background-color: var(--color-red);
  color: var(--color-text-white);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-red);
    }
  }
}

.btn-white {
  font-weight: 400;
  background-color: var(--color-block-white);
  box-shadow: none;
  color: var(--color-text-gray-dark);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-block-gray-lighter);
    }
  }
}

.btn-transparent {
  font-weight: 400;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-text-gray-dark);

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }
}

.btn-bordered {
  letter-spacing: normal;
  font-weight: bold;
  background-color: transparent;
  text-transform: none;
  box-shadow: none;
  color: var(--color-text-gray-dark);
  box-shadow: 0 0 0 1px var(--color-text-gray-dark) inset;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: inherit;
    }
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--color-orange) inset;
    color: var(--color-orange);
  }
}

.btn-dashed {
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-text-gray-dark);
  border-bottom: 1px dashed;
  text-transform: none;
  letter-spacing: normal;
  width: auto;
  text-decoration: none;
  background-color: transparent;
  padding: 0;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: inherit;
    }
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.btn-loading {
  color: transparent;
}

.btn-light-bordered {
  letter-spacing: normal;
  font-weight: normal;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid var(--color-block-color-primary);
  box-shadow: none;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
      background-color: inherit;
    }
  }
}
