.checkbox {
  position: absolute;
  left: 1px; /* because of input box-shadow 1px and label padding 1px */
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  opacity: 0;
  margin: 0;
}

.disabled {
  opacity: 0.6;

  .label {
    cursor: default;
  }
}

.custom-checkbox {
  position: relative;
  margin-bottom: 15px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 1px; /* because of input box-shadow 1px */
}

.label::before {
  content: '';
  display: block;
  width: 12px;
  flex-shrink: 0;
  height: 12px;
  margin-right: 6px;
  box-sizing: border-box;
  border: 2px solid var(--color-block-white);
  background-color: var(--color-block-white);
  box-shadow: 0 0 0 1px var(--color-border-grey);
  position: relative;
}

.label::after {
  width: 10px;
  height: 6px;
  content: '';
  position: absolute;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--color-text-color-primary);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transform-origin: center center;
  left: 3px;
  display: none;
  margin: auto;
  top: 4px;
  box-sizing: border-box;
}

.checkbox:checked ~ .label::before {
  background-color: var(--color-orange);
}
