@value vars: "../app/vars.css";
@value tablet, tablet-min, phone from vars;

.radio-input-label {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.radio-input-label-text {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 16px;
  margin-left: 6px;
}

.radio-box {
  transition: 0.15s ease-in-out;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-block-white);
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--color-text-gray-dark) inset;

  &::after {
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    transform: scale(0.5) translate(-50%, -50%);
    transform-origin: center center;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    opacity: 0;
    background-color: var(--color-text-gray-dark);
  }
}

.radio-input {
  margin: 8px;
  composes: visually-hidden from '../app/mixins.css';
  &:checked + .radio-box {
    &::after {
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
    }
  }
}

.disabled {
  opacity: 0.6;
}
