.text-input-label {
  margin-bottom: 16px;
  display: inline-block;
  position: relative;
}

:global {
  .Select-menu-outer {
    z-index: 5;
    background-color: var(--color-block-white);
  }

  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    padding-right: 20px;
    color: var(--color-text-gray-dark);
    line-height: 38px;
  }

  .Select-value-label {
    color: var(--color-text-gray-dark) !important;
  }

  .Select.is-focused > .Select-control,
  .Select.is-open > .Select-control,
  .Select-option,
  .Select-option.is-selected,
  .Select-option.is-focused,
  .Select--multi .Select-value {
    background-color: var(--color-block-white);
    color: var(--color-text-gray-dark);
  }

  .Select.is-focused:not(.is-open) > .Select-control {
    border: 1px solid var(--color-border-validation);
    box-shadow: 0px 0px 0px 2px var(--color-outline-validation);
    background: var(--color-block-white);
  }

  .Select-control {
    border: 1px solid var(--color-border-grey);
    border-radius: 0;
    overflow: visible !important;
    height: 40px;
    background-color: var(--color-block-white);
    margin-top: 8px;

    .Select-clear-zone {
      position: absolute;
      right: 0;
      z-index: 2;
      height: auto;
      top: -24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Select-clear {
      display: inline-block;
      font-size: 20px;
      line-height: 1;
      font-weight: normal;
      font-family: monospace;
      color: var(--color-text-gray-dark);
    }

    .Select-arrow {
      border-color: var(--color-border-grey) transparent transparent;
    }
  }

  [data-theme='dark'] {
    .Select.is-disabled > .Select-control {
      background-color: transparent !important;
    }
  }
}
// global

.text-lebel {
  display: block;
  margin-bottom: 6px;
}

.show-validation {
  &.label-valid [data-valid-badge] {
    display: flex;
  }

  &.label-invalid [data-invalid-badge] {
    display: flex;
  }
}
