.validation-element {
  height: 18px;
  width: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: -24px;
  bottom: 12px;
}

[data-valid-badge] {
  background-color: var(--color-green);
}

[data-invalid-badge] {
  background-color: var(--color-red);
}
